.brands {
  min-height: 480px;
  padding: 110px 100px ;
  background-color: #f8f8f8;
  &__carousel {
    &_img {
      margin-left: 100px;
    display: flex;
    width: 900px;
    justify-content: space-between;
    align-items: center;
    }
    img {
      object-fit: none;
      width: 145px;
      height: 46px;
    }
    &_quote {
      margin-top: 50px;
      text-align: center;
      font-size: 14px;
      line-height: 20px;
      color: #555555;
      font-weight: 300;
      font-family: "Roboto Slab";
      text-align: center;
      font-style: italic;
    }
    &_autor{
      margin-bottom: 30px;
      margin-top: 35px;
      font-size: 18px;
      color: #555555;
      font-weight: 400;
      font-family: "Roboto Slab";
      text-align: center;
    }

  }

}

ul.slick-dots {
  margin-top: 35px;
  margin: 0 auto;
  width: 55px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  li {
    list-style-type: none;
  }
  button {
    font-size: 0;
    text-decoration: none;
    width: 13px;
    height: 13px;
    border: none;
    background-color: #dddddd;
    border-radius: 6px; 
  
  }
}

 
li.slick-active button {
  background-color: #c0301c;

}