.works {
  max-height: 1380px;
  padding: 100px 95px;
  &__tabs {
    margin-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
    &_link {
      margin-top: 30px;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;
      color: #555555;
      font-weight: 300;
      font-family: "Roboto Slab";
      text-align: center;
      cursor: pointer;
      &_active {
        margin-top: 30px;
        color: #c0301c;
        text-decoration: none;
      }
      
    }
    
  }
  
  
  
  ul {
    position: relative;
    list-style-type: none;
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    :hover .descr {
      display: block;
      opacity: 1;
    }
    img {
      object-fit: cover;
      width: 350px;
      height: 320px;
      margin-bottom: 30px;
    }  
    span {
      background-color:rgba(192, 48, 28, 0.7);
      position: absolute;
      width: 350px;
      height: 320px;
      display: none;
      -webkit-transition: all .5s;
      -o-transition:all .5s ;
      transition: all .5s;
      opacity: 0.5;
    };
    .title {
      margin-left: 30px;
      margin-top: 100px;
      font-size: 18px;
      color: #ffffff;
      font-weight: 300;
      font-family: "Montserrat";
    }
    .subtitle {
      margin-left: 23px;
      font-size: 12px;
      line-height: 1;
      color: #ffffff;
      font-weight: 300;
      font-family: "Roboto Slab";
      text-align: center;
    }
    button {
      display: block;
      margin-left: 134px;
      margin-top: 15px;
      width: 100px;
      height: 38px;
      background-color: #ffffff;
      outline:none;
      border: 0;
      padding: 0;
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 24px;
      text-transform: uppercase;
      color: #c0301c;
      font-weight: 400;
      font-family: "Roboto Slab";
      text-align: center;
    }
    
  }
  
  
};



